@mixin a-mobileBuildingCell() {
  display: block;

  &__wrap {
    display: flex;
    margin-bottom: 8px;
    color: $text_primary;
  }

  &__thumb {
    margin-right: 8px;
    width: 80px;
    height: 80px;
    border-radius: 2px;
    @include inline-background-image(cover);
  }

  &__body {
    flex: 1;

    &Ttl {
      margin-bottom: 8px;
      font-weight: bold;
      font-size: 1.4rem;
      line-height: 1.4;
    }

    &List {
      color: $text_secondary;
      font-size: 1.2rem;

      &Ttl {
        display: none;
      }

      &Cnt {
        display: flex;
        align-items: flex-start;
        margin-bottom: 4px;

        &:last-child {
          margin-bottom: 0;
        }
      }

      &Icon {
        margin-right: 8px;
        width: 14px;
        height: 14px;
        text-align: center;
        font-size: 1.3rem;
      }

      &Txt {
        line-height: 1.2;
        @include text-skip;
      }
    }

    &Action {
      overflow: hidden;
      display: flex;
      border: 1px solid $element_border;
      border-radius: 2px;

      &Item {
        flex: 1;
      }

      &Anchor {
        @include flex-center;
        padding: 8px 0;
        width: 100%;
        font-weight: bold;
        font-size: 1.2rem;

        &Item {
          width: 100%;
        }

        &--fav {
          @include interest-action($favorite_action, 26%, 24%);
        }

        &--dismiss {
          @include interest-action($ignore_action, 60%, 56%);
        }
      }

      &Icon {
        margin-right: 4px;
      }
    }
  }
}
