@mixin p-area() {
  margin: 0 auto;
  width: 1024px;
  &__breadcrumb {
    margin-top: 16px;
  }
  &__cnt {
    margin-top: 16px;
    padding-bottom: 48px;
    display: flex;
    align-items: flex-start;
  }
  &__aside {
    margin-left: 16px;
    width: 300px;
  }
  &__emap {
    overflow: hidden;
    margin-bottom: 16px;
    display: block;
    border-radius: 2px;
    border: 1px solid $element_border;
    transition: all 0.2s ease-in;
    &Img {
      width: 100%;
      height: auto;
      vertical-align: middle;
    }
    &:hover {
      opacity: 0.8;
    }
  }
  &__recommend {
    border: 1px solid $element_border;
    border-radius: 2px;
    background: $white;
    &Head {
      @include flex-align-items-center;
      justify-content: space-between;
      margin: 16px 8px 4px;

      &Ttl {
        color: $text_primary;
        font-weight: bold;
        font-size: 1.4rem;
      }

      &Anchor {
        font-size: 1.3rem;
        @include text-link($text_link);
      }
    }
  }
  &__main {
    flex: 1;
    &Cnt {
      box-sizing: border-box;
      border: 1px solid $element_border;
      border-radius: 2px;
      background: $white;
      & + .p-area__mainCnt {
        margin-top: 16px;
      }
    }
    &Head {
      padding: 16px 12px 0;
      @include flex-align-items-center;
      justify-content: space-between;
      &Ttl {
        font-weight: bold;
        font-size: 1.8rem;
      }
    }
    &Body {
      &Item {
        padding: 12px;
        & + .p-area__mainBodyItem {
          border-top: 1px solid $element_border;
        }
        &Table {
          margin-top: 12px;
        }
      }
    }
    &Nav {
      padding: 16px 0;
      border-top: 1px solid $element_border;
      text-align: center;
    }
  }
  &--login {
    margin: 16px;
    width: auto;
    .p-area__aside {
      width: 360px;
    }
  }
  &--sp {
    background: $white;
    &__head {
      @include flex-align-items-center;
      justify-content: space-between;
      padding: 12px 12px 4px;
      &Ttl {
        font-weight: bold;
        font-size: 1.6rem;
      }
    }
    &__search {
      @include flex-center;
      position: fixed;
      right: 8px;
      bottom: 8px;
      z-index: 2;
      width: 72px;
      height: 72px;
      border-radius: 36px;
      background: $btn_action_primary;
      color: $white;
      font-weight: bold;
      font-size: 1.1rem;
      text-align: center;
      box-shadow: 0 0 6px 2px rgba(0, 0, 0, 0.1);
      &Icon {
        display: block;
        font-size: 2.2rem;
        margin-bottom: 4px;
      }
    }
    &__item {
      padding: 12px;
      & + .p-area--sp__item {
        border-top: 1px solid $element_border;
      }
      &Asking {
        margin-top: 12px;
        &Item {
          & + .p-area--sp__itemAskingItem {
            margin-top: 8px;
          }
        }
      }
    }
    &__footer {
      margin-top: 12px;
      text-align: right;
      &More {
        @include inline-flex-align-items-center;
        color: $text_link;
        font-weight: bold;
        font-size: 1.4rem;
        &Icon {
          margin-left: 4px;
        }
      }
    }
  }
}
