@mixin p-article() {
  background: $white;

  &__head {
    position: relative;
    margin: 0 auto;
    max-width: 2000px;
    width: 100%;
    color: $white;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    &::after {
      display: block;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background: rgba(31, 48, 65, 0.4);
      content: '';
    }

    &Cnt {
      position: relative;
      z-index: 1;
      margin: 0 auto;
      padding: 128px 0;
      width: 1024px;
    }

    &Ttl {
      margin-bottom: 16px;
      font-weight: bold;
      font-size: 3rem;
    }

    &List {
      display: flex;
    }

    &Item {
      font-size: 1.3rem;

      & + .p-article__headItem {
        &::before {
          content: '';
          display: inline-block;
          vertical-align: bottom;
          margin: 0 12px;
          width: 1px;
          height: 1.3rem;
          background: $white;
        }
      }

      &Icon {
        margin-right: 6px;
      }
    }
  }

  &__body {
    margin: 0 auto;
    padding: 16px 0 32px;
    width: 1024px;

    &Wrap {
      display: flex;
      align-items: flex-start;
    }

    &Left {
      flex: 1;

      /deep/ {
        h2 {
          margin-top: 32px;
          padding: 16px;
          background: $article_header;
          border-radius: 4px;
          font-weight: bold;
          font-size: 2rem;
          line-height: 1.5;

          &:first-child {
            margin-top: 0;
          }
        }

        h3 {
          margin-top: 24px;
          padding: 0 12px;
          font-weight: bold;
          font-size: 1.8rem;
        }

        p {
          margin-top: 16px;
          padding: 0 12px;
          font-size: 1.4rem;
          line-height: 2;
          white-space: pre-line;

          & + p {
            margin-top: 8px;
          }

          &:first-child {
            margin-top: 0;
          }
        }

        img {
          margin-top: 8px;
          width: 100%;
          height: auto;
          vertical-align: bottom;
        }

        blockquote {
          margin: 24px 8px 0;
          padding: 16px 12px;
          border-left: 5px solid $element_border;
          background: $btn_action_tertiary;
        }

        a {
          @include text-link($text_link);
        }

        .embed {
          @include flex-align-items-center;
          margin: 32px 16px;
          padding: 12px;
          box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.1);
          color: $text_primary;
          transition: all 0.2s ease-in;
          border: 1px solid $element_border;

          &:hover {
            box-shadow: none;
            text-decoration: none;
          }

          img {
            margin-right: 12px;
            width: 96px;
            height: 96px;
            box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.1);
          }

          div {
            flex: 1;

            h1 {
              font-weight: bold;
              font-size: 1.6rem;
              line-height: 1.5;
              @include multi-text-skip(2);
            }

            p {
              margin-top: 8px;
              padding: 0;
              color: $text_secondary;
              font-size: 1.2rem;
              line-height: 1.5;
              @include multi-text-skip(2);
            }

            time {
              display: inline-block;
              margin-top: 8px;
              color: $text_secondary;
              font-size: 1.2rem;

              i {
                margin-right: 4px;
              }
            }
          }
        }
      }
    }

    &Right {
      position: sticky;
      top: 16px;
      margin-left: 16px;
      width: 300px;
    }
  }

  &__recommend {
    margin: 64px 0;

    &Head {
      margin: 0 8px;
      font-weight: bold;
      font-size: 1.8rem;
    }

    &List {
      display: flex;
      align-items: flex-start;
      margin-top: 16px;
      width: 100%;
    }

    &Item {
      width: 25%;
    }

    &Anchor {
      margin: 0 8px;
      display: block;
      overflow: hidden;
      color: $text_primary !important;
      border: 1px solid $element_border;
      border-radius: 4px;

      &:hover {
        text-decoration: none;
      }
    }

    &Thumb {
      width: 100%;
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;

      &::after {
        display: block;
        width: 100%;
        padding-top: 56.25%;
        content: '';
      }
    }

    &Info {
      padding: 8px;
    }

    &Ttl {
      @include text-skip;
      font-weight: bold;
      font-size: 1.4rem;
      line-height: 1.5;
    }

    &Txt {
      margin-top: 8px;
      color: $text_secondary;
      font-size: 1.2rem;

      /deep/ p {
        @include text-skip;
      }
    }

    &Time {
      display: inline-block;
      margin-top: 8px;
      color: $text_secondary;
      font-size: 1.2rem;

      &Icon {
        margin-right: 4px;
      }
    }
  }

  &__building {
    margin-top: 24px;

    &Head {
      @include flex-align-items-center;
    }

    &Ttl {
      flex: 1;
      font-weight: bold;
      font-size: 1.4rem;
    }

    &More {
      font-size: 1.3rem;
      @include text-link($text_link);
    }

    &List {
      margin-top: 4px;
    }

    &Anchor {
      @include flex-align-items-center;
      padding: 8px;
      color: $text_primary;
      transition: all 0.2s ease-in;

      &:hover {
        background: $cell_hover;
      }
    }

    &Item {
      & + .p-article__buildingItem {
        border-top: 1px solid $element_border;
      }
    }

    &Thumb {
      margin-right: 12px;
      width: 72px;
      height: 72px;
      @include inline-background-image(contain);
    }

    &Info {
      flex: 1;
    }

    &Label {
      font-weight: bold;
      font-size: 1.4rem;
      @include multi-text-skip(2);
    }

    &Sub {
      margin-top: 8px;
      color: $text_secondary;
      font-size: 1.1rem;
      @include multi-text-skip(2);

      &Icon {
        margin-right: 4px;
      }
    }
  }

  &__emap {
    margin-top: 16px;
    overflow: hidden;
    display: block;
    border-radius: 4px;
    border: 1px solid $element_border;
    transition: all 0.2s ease-in;

    &:hover {
      opacity: 0.8;
    }

    &Img {
      width: 100%;
      height: auto;
      vertical-align: middle;
    }
  }

  &__login {
    padding: 16px;
    border-radius: 4px;
    border: 1px solid $element_border;
    text-align: center;

    &Ttl {
      font-weight: bold;
      font-size: 1.4rem;
      line-height: 1.5;
    }

    &List {
      @include inline-flex-align-items-center;
      margin-top: 16px;
    }

    &Item {
      & + .p-article__loginItem {
        margin-left: 12px;
      }

      &Anchor {
        display: inline-block;
        padding: 12px 24px;
        border-radius: calc((1.2rem + 24px) / 2);
        text-decoration: none;
        font-size: 1.2rem;
        line-height: 1;
        transition: all 0.3s ease;

        &--signup {
          background: $btn_action_primary;
          color: $white;
          font-weight: bold;
        }

        &--login {
          color: $text_link;
          border: 1px solid $element_border;
        }
      }
    }
  }

  &--sp {
    .p-article {
      &__head {
        &Cnt {
          padding: 96px 16px;
          width: 100%;
        }

        &Ttl {
          line-height: 1.3;
        }

        &List {
          display: block;
        }

        &Item {
          & + .p-article__headItem {
            margin-top: 8px;
          }

          &::before {
            display: none;
          }
        }
      }

      &__body {
        width: 100%;

        &Wrap {
          display: block;
        }

        &Left {
          margin: 0 12px 24px;
        }

        &Right {
          position: initial;
          margin: 0 16px;
          width: auto;
        }
      }

      &__recommend {
        margin: 32px 0;

        &Head {
          margin: 0 16px;
        }

        &List {
          display: block;
        }

        &Item {
          width: 100%;
        }

        &Anchor {
          margin: 16px;
        }

        &Thumb {
          &::after {
            padding-top: 40%;
          }
        }
      }

      &__building {
        &Ttl {
          font-size: 1.6rem;
        }

        &More {
          font-size: 1.4rem;
        }

        &Anchor {
          padding: 8px 0;
        }

        &Label {
          font-size: 1.6rem;
        }

        &Thumb {
          width: 96px;
          height: 96px;
        }
      }
    }
  }
}
