@mixin p-newpassword() {
  padding: 48px;
  min-height: 100vh;

  &::before {
    display: block;
    margin: 0 auto 24px;
    width: 180px;
    height: 51px;
    background: url('~assets/images/logo_rec_black.svg') center center /180px 51px no-repeat;
    content: '';
  }

  &__agent {
    text-align: center;

    &Cnt {
      display: inline-block;
      margin-bottom: 24px;
      padding: 6px 12px;
      border-radius: calc((1.3rem + 16px) / 2);
      color: $main_color;
      border: 1px solid $main_color;
      font-size: 1.3rem;
      line-height: 1;
    }
  }

  &__textAnchor {
    font-size: 1.3rem;
    @include text-link($text_link);
  }

  &__label {
    margin: 12px 0;
    color: $text_primary;
    font-size: 1.2rem;
    line-height: 1.5;
  }

  &__form {
    margin: 0 auto 32px;
    padding: 32px 40px;
    width: 448px;
    background: $white;
    border-radius: 4px;
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.1);

    &Ttl {
      margin-bottom: 32px;
      text-align: center;
      font-size: 2rem;
    }

    &Footer {
      @include flex-align-items-center;
      justify-content: space-between;
    }
  }

  &__save {
    text-align: center;

    &Btn {
      display: inline-block;
      margin: 24px 0;
      padding: 16px 48px;
      border: none;
      border-radius: 2px;
      font-size: 1.4rem;
      text-align: center;
      @include action-btn($btn_action_primary, $white);

      &.is-disabled {
        background: $btn_action_disabled;
        color: $text_disabled;
        cursor: default;

        &:hover {
          background: $btn_action_disabled;
          color: $text_disabled;
        }
      }
    }
  }

  &__footer {
    text-align: center;

    &List {
      @include inline-flex-align-items-center;
    }

    &Item {
      & + .p-newpassword__footerItem {
        &::before {
          display: inline-block;
          margin: 0 6px;
          width: 6px;
          height: 1px;
          background: $element_border;
          content: '';
          vertical-align: middle;
        }
      }
    }
  }

  &--sp {
    padding: 48px 0;
    min-height: 100vh;

    &::before {
      width: 170px;
      height: 48px;
      background: url('~assets/images/logo_rec_black.svg') center center /170px 48px no-repeat;
    }

    .p-newpassword {
      &__form {
        margin: 0 auto 16px;
        padding: 32px 16px;
        width: 90%;
      }

      &__textAnchor {
        display: inline-block;
      }

      &__footer {
        &List {
          display: block;
        }

        &Item {
          margin-top: 16px;

          &::before {
            display: none;
          }
        }
      }
    }
  }
}
