@mixin m-lpBuildingSingleSwiper() {
  position: relative;

  &__btn {
    position: absolute;
    z-index: 2;
    top: 0;
    bottom: 0;
    margin: auto;
    @include flex-center;
    width: 32px;
    height: 60px;
    border: 1px solid $element_border;
    border-radius: 4px;
    background: $white;
    cursor: pointer;

    &.swiper-button-disabled {
      display: none;
    }

    &Icon {
      color: $ignore_action;
      font-size: 1.6rem;
    }

    &--prev {
      left: 16px;
    }

    &--next {
      right: 16px;
    }
  }
}
