@mixin a-switcher {
  @include flex-align-items-center;

  &__item {
    & + .a-switcher__item {
      margin-left: 4px;
    }
  }

  &__anchor {
    display: inline-block;
    padding: 8px 12px;
    color: $text_primary;
    font-size: 1.2rem;
    box-shadow: 0 0 0 1px $element_border inset;
    border-radius: calc((1.2rem + 16px) / 2);
    background: $white;
    white-space: nowrap;

    &.is-active {
      color: $white;
      background: $main_color;
      box-shadow: none;
      font-weight: bold;
    }
  }
}
