@mixin a-textAreaBox() {
  padding: 4px 8px;
  background: $white;
  border: 1px solid $element_border;
  border-radius: 2px;
  font-size: 1.2rem;
  box-sizing: border-box;
  text-align: left;

  &__label {
    color: $text_secondary;
    font-size: 1.1rem;
  }

  &__required {
    margin-left: 4px;
    color: $text_required;
  }

  &__textarea {
    margin-top: 8px;
    padding: 0;
    width: 100%;
    height: 80px;
    border: none;
    font-size: 1.3rem;
    box-sizing: border-box;
    outline: none;
    resize: none;
    @include placeholder-color($input_placeholder);
  }
}
