@mixin m-changePassword() {
  margin: 96px auto;
  width: 40%;

  &__ttl {
    margin-bottom: 40px;
    color: $text_primary;
    font-weight: bold;
    font-size: 2.4rem;
    text-align: center;
  }

  &__account {
    &Item {
      & + .m-changePassword__accountItem {
        margin-top: 24px;
      }

      &--input {
        margin-top: 48px;
        text-align: center;
      }

      &Submit {
        display: inline-block;
        padding: 16px 48px;
        border: none;
        border-radius: 2px;
        font-size: 1.4rem;
        text-align: center;
        @include action-btn($btn_action_primary, $white);

        &.is-disabled {
          background: $btn_action_disabled;
          color: $text_disabled;
          cursor: default;

          &:hover {
            background: $btn_action_disabled;
            color: $text_disabled;
          }
        }
      }
    }
  }

  &--sp {
    margin: 32px 16px;
    width: auto;
  }
}
