@mixin m-inbox() {
  &__empty {
    padding-top: 48px;
    text-align: center;
    font-size: 1.4rem;
  }

  &__item {
    position: relative;

    & + .m-inbox__item {
      &::before {
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        left: 12px;
        height: 1px;
        background: $element_border;
        content: '';
      }
    }
  }
}
