$white: #fff;
$base_color: #f4f6f9;
$main_color: #3d556c;
$accent_color: #7de8f6;
$accent_color2: #29b6f6;
$key_color: #f3ba0f;

$input_icon: #899bae;
$input_placeholder: #ccc;

$text_primary: #263442;
$text_secondary: #97a4b7;
$text_link: #4392ff;
$text_required: #f86084;
$text_disabled: #aaa;

$btn_action_primary: #3e8bff;
$btn_action_secondary: #929eb1;
$btn_action_tertiary: #f8f8f8;
$btn_action_disabled: #eee;

$favorite_action: #f86e87;
$ignore_action: #4e5869;

$element_border: #e2e8f0;

$table_txt: #707986;
$table_bg: #f6f6f6;
$table_border: #e0e2e4;

$lp_ttl: #25283c;
$lp_column_bg: #0098ed;

$faq_q: #1caaff;
$faq_a: #ff8f83;

$footer_bg: #1f3041;
$footer_txt: #606c78;

$side_nav_txt: #a7b9cf;
$side_nav_txt_active: #7de8f6;

$notification: #fb4e4e;

$light_bg: #fafafa;

$message_comment: #63b3ff;
$message_is_read: #f4f4f4;

$cell_hover: #f3f8ff;

$tab_active: #3d556c;

$article_header: #f4f6f9;

$sns_fb: #3c5a99;
$sns_ln: #00b900;
$sns_tw: #1da1f2;
